.seat-selection {

}

.seat-selection-container{
display: flex;

}

.seat-selection-container button {
    background-color: transparent;
    width: 75px;
    height: 75px;
}

.taken {
    background-color: black;
    width: 75px;
    height: 75px;
}

